- var name        = "Product Books"
- var url         = "https://product-books.com"
- var logoUrl     = "https://product-books.com/logo.png"
- var title       = "Product Books - The most recommended books for product managers from around the web."
- var description = "Product Books - The most recommended books for product managers from around the web."

doctype
html(lang="en" itemtype="http://schema.org/WebPage" itemscope)
  
    head(prefix="og: http://ogp.me/ns#")
        include shared/_meta.jade
        
    body
        include shared/_title.jade
        include shared/_alerts.jade
        
        .clear-both

        main
            include shared/_recommenders.jade
            
            .clear-both
            .clear-both
            p
                strong
                    =books.length - 22
                    |  BOOKS LISTED &nbsp;&nbsp; 
                a.button(href="#proposebook") Propose a book
                    
            .filters
                h3
                    | filter by topic: 
                    br
                    span.tag-filter.js-filter(data-filter="analytics") analytics &amp; data
                    | , 
                    span.tag-filter.js-filter(data-filter="empathy") empathy
                    | , 
                    span.tag-filter.js-filter(data-filter="leadership") leadership
                    | , 
                    span.tag-filter.js-filter(data-filter="growth") marketing &amp; growth
                    | , 
                    span.tag-filter.js-filter(data-filter="business") business
                    | , 
                    span.tag-filter.js-filter(data-filter="product-management") product management
                    | , 
                    span.tag-filter.js-filter(data-filter="design") design
                    | , 
                    span.tag-filter.js-filter(data-filter="communication") communication
                    | , 
                    span.tag-filter.js-filter(data-filter="biography") biographies
            
            #books
                each book in books
                    - var classes = book.tags[0]
                    each name in book.recommends
                        - classes += ' '+name.replace(' ', '-')
                    
                    if book.logo != '.png'
                        .book(class=classes)
                            a.img-link(href=book.amazonus target="_blank")
                                img(src=book.logo alt=book.title)
                                span buy on amazon.com
                            .tags
                                .tag.js-filter(data-filter=book.tags[0])=book.tags[0]

                            .book-title
                                a(href=book.amazonus target="_blank")
                                    =book.title
                                    br
                                    span.author
                                        | by 
                                        =book.author

                            .recommenders
                                if book.recommends.length > 1
                                    =book.recommends.length
                                    |  recommendations:
                                    br
                                if book.recommends.length == 1 
                                    |  1 recommendation: 
                                each name in book.recommends
                                    span.js-filter(data-filter=name.replace(' ', '-'))=name
                                if book.quoracount
                                    br
                                    | Quora mentions: 
                                    = book.quoracount

            .clear-both

        footer#proposebook
            p
                | Missing a book? 
                a(href="mailto:hello@product-books.com") Please email us your suggestion!
        
        include shared/_scripts.jade
